In [69]:
from sqlalchemy import create_engine
import pandas as pd

In [70]:
sql_connection = create_engine('mysql://root:Abdulaziz1993@127.0.0.1:3306')
sql_connection

Engine(mysql://root:***@127.0.0.1:3306)

In [71]:
def sql(query):
    return pd.read_sql_query(query, sql_connection)

In [72]:
pd.read_sql_query('SHOW DATABASES', sql_connection)

             Database
0             ABUAZAH
1  information_schema
2        JUST_TESTING
3               mysql
4  performance_schema
5                 sys
6        TestingJoins

In [73]:
sql('USE ABUAZAH')

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [74]:
sql('SELECT * FROM StudentAcadamicInfo')

    student_id  student_gpa      Hobby
0            1         4.00  Foot Ball
1            2         4.00  Foot Ball
2            3         4.00  Foot Ball
3            4         4.00  Foot Ball
4            5         3.00  Foot Ball
5            6         4.00  Foot Ball
6            7         4.00  Foot Ball
7            8         3.00  Foot Ball
8            9         3.00  Foot Ball
9           10         4.00  Foot Ball
10          11         3.00  Foot Ball
11          12         4.00  Foot Ball
12          13         4.00  Foot Ball
13          14         3.00  Foot Ball
14          15         3.00  Foot Ball
15          16         3.00  Foot Ball
16          17         4.00  Foot Ball
17          18         3.00  Foot Ball
18          19         4.00  Foot Ball
19          20         3.00  Foot Ball
20          21         4.00  Foot Ball
21          22         4.00  Foot Ball
22          23         3.00  Foot Ball
23          24         3.00  Foot Ball
24          25         4.00  Foot Ball
25          26         3.00  Foot Ball
26          27         4.00  Foot Ball
27          28         3.00  Foot Ball
28          29         4.00  Foot Ball
29          30         4.00  Foot Ball
30          31         3.00     Boxing
31          41         3.78        MMA

In [58]:
def check_Id_Incrementation(row, index):
    if(row.student_id == 1):
        pass
    else:
        print(index)

    
sql('SELECT * FROM StudentAcadamicInfo')['student_id'].values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 41])

In [59]:
print(list(map(lambda x: x, sql('SELECT * FROM StudentAcadamicInfo')['student_id'].values)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 41]

In [67]:
sql('SELECT * FROM StudentAcadamicInfo')['student_id'].values*

SyntaxError: invalid syntax (3696407021.py, line 1)

In [61]:
def check(element):
    print(element[0])

map(lambda x: check, sql('SELECT * FROM StudentAcadamicInfo')['student_id'].values)

In [11]:
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [12]:
pd.read_sql_query('CREATE DATABASE JUST_TESTING', sql_connection)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [13]:
pd.read_sql_query('SHOW DATABASES', sql_connection)

             Database
0             ABUAZAH
1  information_schema
2        JUST_TESTING
3               mysql
4  performance_schema
5                 sys
6        TestingJoins

In [14]:
pd.read_sql_query('USE JUST_TESTING', sql_connection)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [15]:
pd.read_sql_query('SHOW TABLES', sql_connection)

Empty DataFrame
Columns: [Tables_in_just_testing]
Index: []

In [16]:
diabetes_df.to_sql('diabetes_table', sql_connection)

768